<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:fusion="Neos\Fusion\ViewHelpers"
      xmlns:neoscr="Neos\ContentRepository\ViewHelpers">
<f:section name="feed">
    <section{attributes -> f:format.raw()}>
        {header -> f:format.raw()}

        <f:if condition="{renderFeed}">
            <f:then>
                <neoscr:widget.paginate widgetId="blog-pagination" nodes="{feedEntries}" as="paginatedEntries"
                                         configuration="{paginationConfiguration}">
                    <ul{listAttributes -> f:format.raw()}>
                        <f:for each="{paginatedEntries}" as="entry">
                            <fusion:render path="feedContent.itemRenderer" context="{node: entry}"/>
                        </f:for>
                    </ul>
                </neoscr:widget.paginate>
            </f:then>
            <f:else>
                {noEntriesFound -> f:format.raw()}
            </f:else>
        </f:if>
    </section>
</f:section>
</html>
