<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
			xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
			xmlns:neos="http://typo3.org/ns/TYPO3/Neos/ViewHelpers">
	<f:section name="blogFeedEntry">
		<li{attributes -> f:format.raw()}>
			<article>
				<header>
					<h3>
						<neos:link.node node="{node}" section="{f:if(condition: settings.disqus.enabled, then: 'disqus_thread')}" data="{disqus-identifier: node.identifier}">
							<neos:contentElement.editable property="title" tag="span" />
						</neos:link.node>
					</h3>

					<time>{f:format.date(date: node.properties.publicationDate, format: dateFormat)}</time>

					<neos:contentElement.editable property="authorName" tag="address" />
				</header>

				<section>
					<f:if condition="{node.properties.entryImage}">
						<f:render partial="EntryImage" arguments="{image: node.properties.entryImage, imageSettings: imageSettings}" />
					</f:if>

					<neos:contentElement.editable property="entrySummary" tag="summary" />
				</section>
			</article>
		</li>
	</f:section>
</html>
