<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:neos="http://typo3.org/ns/TYPO3/Neos/ViewHelpers">
<f:section name="blogFeedEntry">
    <li{attributes -> f:format.raw()}>
        <article>
            <header>
                <h3>
                    <neos:link.node node="{node}">
                        <neos:contentElement.editable property="title" tag="span"/>
                    </neos:link.node>
                </h3>

                <time>{f:format.date(date: node.properties.publicationDate, format: dateFormat)}</time>

                <neos:contentElement.editable property="authorName" tag="address"/>
            </header>

            <f:if condition="{node.properties.entryImage}">
                <f:render partial="EntryImage"
                          arguments="{image: node.properties.entryImage, imageSettings: imageSettings, title: title, alternativeText: alternativeText}"/>
            </f:if>

            <f:if condition="{node.context.workspace.name} == 'live'">
                <f:then>
                    <f:format.crop maxCharacters="200" append="…">
                        <f:format.stripTags value="{summary}"/>
                    </f:format.crop>
                </f:then>
                <f:else>
                    <neos:contentElement.editable property="entrySummary"/>
                </f:else>
            </f:if>

            <neos:link.node node="{node}">
                <f:translate id="blogEntry.action.more" package="Shel.Blog" source="Main">more</f:translate>
            </neos:link.node>
        </article>
    </li>
</f:section>
</html>
