{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace media=TYPO3\Media\ViewHelpers}
<article class="blog-feed-entry">
	<header>
		<neos:link.node node="{node}">
			<neos:contentElement.editable property="title" tag="h3" />
		</neos:link.node>

		<time>{f:format.date(date: node.properties.publicationDate, format: dateFormat)}</time>

		<neos:contentElement.editable property="authorName" tag="address" />
	</header>

	<section>
		<f:if condition="{node.properties.entryImage}">
			<figure>
				<media:image image="{node.properties.entryImage}" alt="{node.properties.entryImage.alternativeText}"
										 title="{node.properties.entryImage.title}" maximumWidth="{entryImageWidth}"
										 maximumHeight="{entryImageHeight}" allowCropping="true" allowUpScaling="true"/>
			</figure>
		</f:if>

		<neos:contentElement.editable property="entrySummary" tag="summary" />
	</section>

</article>
