<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:ts="http://typo3.org/ns/TYPO3/TypoScript/ViewHelpers"
      xmlns:neos="http://typo3.org/ns/TYPO3/Neos/ViewHelpers">
<f:section name="latestBlogEntries">
    <div{attributes -> f:format.raw()}>
        <f:if condition="{feedEntries}">
            <f:then>
                <ul>
                    <ts:render path="feedContent"/>
                </ul>
            </f:then>
            <f:else>
                <f:if condition="{neos:rendering.inEditMode()}">
                    <f:then>
                        <p>No blog entries found. Add some to your blogfeed or select a feed in the inspector.</p>
                    </f:then>
                    <f:else>
                        <p>No blog entries found.</p>
                    </f:else>
                </f:if>
            </f:else>
        </f:if>
        <f:if condition="{settings.disqus.enabled}">
            <f:render partial="DisqusCommentCount" arguments="{node: node, settings: settings}"/>
        </f:if>
    </div>
</f:section>
</html>
