<section class="blog-entry-social">
	<f:if condition="twitterId">
		<!-- Twitter button BEGIN-->
		<a href="https://twitter.com/share" class="twitter-share-button" data-via="{twitterId}" data-count="none" data-dnt="true">Tweet</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
		<!-- Twitter button END-->
	</f:if>

	<f:if condition="flattrId">
		<!-- Flattr button BEGIN-->
		<script id='flattr-{node.identifier}'>(function(i){var f,s=document.getElementById(i);f=document.createElement('iframe');f.src='//api.flattr.com/button/view/?uid={flattrId}&button=compact&url='+encodeURIComponent(document.URL);f.title='Flattr';f.height=20;f.width=110;f.style.borderWidth=0;s.parentNode.insertBefore(f,s);})('flattr-{node.identifier}');</script>
		<!-- Flattr button END-->
	</f:if>
</section>
