<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
			xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
			xmlns:ts="http://typo3.org/ns/TYPO3/TypoScript/ViewHelpers"
			xmlns:typo3cr="http://typo3.org/ns/TYPO3/TYPO3CR/ViewHelpers"
			xmlns:neos="http://typo3.org/ns/TYPO3/Neos/ViewHelpers">
	<f:section name="feed">
		<section{attributes -> f:format.raw()}>
			<header>
				<neos:contentElement.editable property="title" tag="h1" />
				<neos:contentElement.editable property="description" tag="h2" />
			</header>

			<ul{listAttributes -> f:format.raw()}>
				<typo3cr:widget.paginate widgetId="blog-pagination" nodes="{feedEntries}" as="paginatedEntries" configuration="{configuration.pagination}">
					<f:for each="{paginatedEntries}" as="entry">
						<ts:render path="entryRenderer" context="{node: entry}" />
					</f:for>
				</typo3cr:widget.paginate>
			</ul>
		</section>
	</f:section>
</html>
