<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:neos="Neos\Neos\ViewHelpers"
      xmlns:fusion="Neos\Fusion\ViewHelpers">
<f:section name="blogEntry">
    <article{attributes -> f:format.raw()}>
        <header>
            <f:if condition="{node.properties.entryImage}">
                <f:render partial="EntryImage"
                          arguments="{image: node.properties.entryImage, imageSettings: imageSettings, title: title, alternativeText: alternativeText}"/>
            </f:if>

            <neos:contentElement.wrap node="{node}">
                <h1>
                    {neos:contentElement.editable(property: 'title')}
                </h1>

                <f:if condition="{showAuthor}">
                    <neos:contentElement.editable property="authorName" tag="small" class="blog-entry__author"/>
                </f:if>
                <time>{f:format.date(date: publicationDate, cldrFormat: cldrFormat, localeFormatLength: localeFormatLength, localeFormatType: 'date', forceLocale: true)}</time>
            </neos:contentElement.wrap>
        </header>

        {content -> f:format.raw()}

        <footer>
            <fusion:render path="socialButtons"/>
            <fusion:render path="disqus"/>

            <f:render partial="EntryPager"
                      arguments="{previousEntry: previousEntry, nextEntry: nextEntry, currentEntry: node, pagerArguments: pagerArguments}"/>
        </footer>
    </article>
</f:section>
</html>
