{namespace neos=TYPO3\Neos\ViewHelpers}
<article class="blog-entry">

	<header>
		<f:if condition="{node.properties.entryImage}">
			<f:render partial="entryImage" arguments="{image: node.properties.entryImage, imageSettings: imageSettings}" />
		</f:if>

		<time>{f:format.date(date: node.properties.publicationDate, format: dateFormat)}</time>

		<neos:contentElement.wrap node="{node}">
			<h1>
				{neos:contentElement.editable(property: 'title')}
			</h1>

			<summary>
				{neos:contentElement.editable(property: 'entrySummary')}
			</summary>
		</neos:contentElement.wrap>
	</header>

	{content -> f:format.raw()}

	<footer>
		<f:if condition="{settings.socialButtons.enabled}">
			<f:render partial="SocialButtons" arguments="{identifier:node.identifier, settings: settings.socialButtons}" />
		</f:if>

		<f:render partial="EntryPager" arguments="{previousEntry: previousEntry, nextEntry: nextEntry, currentEntry: node}" />
	</footer>

</article>
