<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:fa="Neos\FluidAdaptor\ViewHelpers"
      xmlns:neos="Neos\Neos\ViewHelpers">
<f:section name="blogFeedEntry">
    <li{attributes -> f:format.raw()}>
        <article>
            <f:if condition="{node.properties.entryImage}">
                <f:render partial="EntryImage"
                          arguments="{image: node.properties.entryImage, imageSettings: imageSettings, title: title, alternativeText: alternativeText}"/>
            </f:if>

            <div class="article-content">
                <header>
                    <h3>
                        <f:if condition="{node.context.workspace.name} == 'live'">
                            <f:then>
                                <neos:link.node node="{node}" title="{node.label}">
                                    <neos:contentElement.editable property="title" tag="span"/>
                                </neos:link.node>
                            </f:then>
                            <f:else>
                                <a>
                                    <neos:contentElement.editable property="title" tag="span"/>
                                </a>
                            </f:else>
                        </f:if>
                    </h3>

                    <time>{f:format.date(date: publicationDate, format: dateFormat)}</time>

                    <f:if condition="{showAuthor}">
                        <neos:contentElement.editable property="authorName" tag="address"/>
                    </f:if>
                </header>

                <p>
                    <f:if condition="{node.context.workspace.name} == 'live'">
                        <f:then>
                            <f:format.crop maxCharacters="200" append="…"><f:format.stripTags value="{summary}"/></f:format.crop>
                        </f:then>
                        <f:else>
                            <neos:contentElement.editable property="entrySummary"/>
                        </f:else>
                    </f:if>

                    <neos:link.node node="{node}">
                        <fa:translate id="blogEntry.action.more" package="Shel.Blog" source="Main">more</fa:translate>
                    </neos:link.node>
                </p>
            </div>
        </article>
    </li>
</f:section>
</html>
